layout: index
description: Hexo is a fast, simple & powerful blog framework powered by Node.js.
subtitle: Um framework de blogs rápido, simples e poderoso
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title Muito Rápido
      p.intro-feature-desc Node.js te traz uma velocidade inacreditável, gerando centenas de arquivos em poucos segundos.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-pencil
      h3.intro-feature-title Suporte a Markdown
      p.intro-feature-desc Todas as funcionalidades do Markdown do GitHub são suportadas. Você pode até usar muitos dos plugins do Octopress no Hexo.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-upload
      h3.intro-feature-title Deploy com um Comando
      p.intro-feature-desc Você só precisa de um comando para fazer o deploy de seu site para o GitHub Pages, Heroku ou outros serviços.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cog
      h3.intro-feature-title Muitos Plugins
      p.intro-feature-desc Hexo possui um sistema poderoso de plugins. Você pode optar por instalar plugins para Jade e CoffeeScript, por exemplo.
